@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply font-inter;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}


.control-dots {
  width: fit-content !important;

}

iframe {
  margin: auto !important;
  width: 80% !important;
}


/* @media (max-width: 850px) {
  .slider-wrapper {
    border: 2px solid white !important;
    height: 45vh !important;
  }

  iframe {
    margin: auto !important;
    width: 80% !important;
  }
} */

.carousel .slide iframe {
  width: 100% !important;
}


/* admin leftside bar */
.admin-leftside-bar {
  min-width: 300px;
  width: 250px;
  min-height: 100vh;
  height: 100%;
  border: 1px solid #E6E6E6;
}

/* @media (max-width: 1280px) {
  .admin-leftside-bar {
    min-width: 200px;
    width: 200px;
  }
} */
/* @media (max-width: 1024px) {
  .admin-leftside-bar {
    min-width: fit-content;
    width: fit-content;
  }
} */

/* modal  */

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.modal-dialog {
  margin-top: 100px !important;
}

.border-color {
  width: 68px;
  height: 68px;
  border: 2px solid #BE7627;
  border-radius: 100%;
  background-color: #FFF6E4;
  color: #BE7627;
}

.confirm-button {
  @apply bg-primary-button flex-center border p-2 rounded-3xl w-1/2 text-white font-semibold
}

.decline-button {
  @apply flex-center text-primaryColor border border-2 border-buttonBorder p-2 rounded-3xl w-1/2 font-semibold gradient-text 
}



.hideScrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.projectSelected {
  border-left: 7px solid #BE7627;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.gradient-text {
  background: linear-gradient(90deg, #BE7627 0%, #E3A53F 100%);
  background-clip: text;
  color: transparent;

}

/* custom scrollbar */
#scrollableDiv::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

#scrollableDiv::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
  height: 8px;
}

#scrollableDiv::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #BE7627;
  border: 2px solid #BE7627;
}